---
layout: research
title: 'Quantum simulation on NV center'
# author: peteryang
tags: [researches]
img: nv.jpeg
display-order: 1
description: >
---

Advisor: Dr. Helena Knowles (Assistant Professor
Royal Society University Research Fellow, Cavendish)

# Simulations on NV centers
